@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @apply bg-main-bg text-white
}


input::placeholder {
  @apply text-gray-400
}

form p {
  @apply text-red-600 font-normal text-xs mr-auto mt-[.2rem]
}

form textarea, input{
  @apply  p-3 mt-2 text-black rounded w-full border border-gray-400 appearance-none focus:outline-main-bg
}

form label {
  @apply text-main-bg text-base mt-5 mr-auto
}